<!DOCTYPE html>
<html lang="en">
<head>
    <script src="./static/node_modules/gridstack/dist/gridstack-all.js"></script>
    <link href="./static/node_modules/gridstack/dist/gridstack.min.css" rel="stylesheet"/>
    <link href="./static/node_modules/gridstack/dist/gridstack-extra.min.css" rel="stylesheet"/>
    <link rel="shortcut icon" href="./static/favicon.ico">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FanWall</title>
    <link href="./static/css/index.css" rel="stylesheet"/>
    <!-- Bootstrap CSS -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link href="./static/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="./static/node_modules/@popperjs/core/dist/umd/popper.js" rel="stylesheet"></script>
    <script src="./static/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <!-- Paho JavaScript MQTT Library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js"></script>
</head>
<body class="container-fluid">
    <div id="alert-placeholder"></div>
    <div class="row">
        <div class="col-md-2 bg-light sidebar">
            <h1 class="mb-4">FanWall</h1>
            <p>Status: <span id="status">-</span></p>
            
            <button class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#savePresetModal">Create preset</button>
            <button class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#loadPresetModal" id="loadPresetButton">Load preset</button>
        </div>
        <div class="col-md-10">
            <div class="top-bar d-flex justify-content-end mb-4">
                <div class = "col-md-2">
                    <button class="btn btn-primary mb-2" onclick="getAllControllers()">Get controllers</button>
                </div>
                <div class = "col-md-1.5">
                    <button class="btn btn-primary mb-2" onclick="addMultipleControllers()">Add Multiple Controllers</button>
                </div>
                <div class = "col-md-1">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editControllerModal">
                        Edit controller
                    </button>
                </div>
                <div class="col-md-2 d-flex align-items-center">
                    <h6 class="mb-0">Configuration:</h6>
                    <span id="currentConfiguration" class="badge bg-secondary ms-2">None</span>
                </div>                
                <div class = "col-md-2">
                    <div class="dropdown mb-2">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Select Configuration
                        </button>
                        <div class="dropdown-menu" id="configDropdown" aria-labelledby="dropdownMenuButton"></div>
                    </div>
                </div>
                <div class = "col-md-1">
                    <button class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#exampleModal">Create New</button>
                </div>
                <div class = "col-md-1">
                    <button class="btn btn-primary ml-2" onclick="updateConfiguration(currentConfiguration.id)">Save</button>
                </div>
                <div class="col-md-1">
                    <a class="btn btn-danger ml-2" href="{{ url_for('user.logout') }}">Logout</a>
                </div>             
            </div>
            <div class="col-md-8">
                <div class="grid-stack" gs-w="13" gs-min-row="12" ></div>
            </div>
        </div>
    </div>
    
    <!-- Save configuration modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New config</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <label for="newConfigurationNameInputBox">Configuration name</label>
                    <input type="text" class="form-control" id="newConfigurationNameInputBox" placeholder="Grid 1">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" onclick="saveConfiguration()">Create</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Save preset modal -->
    <div class="modal fade" id="savePresetModal" tabindex="-1" aria-labelledby="savePresetModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="savePresetModalLabel">New preset</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <label for="newPresetNameInputBox">Configuration name</label>
                    <input type="text" class="form-control" id="newPresetNameInputBox" placeholder="Grid 1">
                    <label for="newPresetJsonInputBox">Preset JSON</label>
                    <textarea  class="form-control" id="newPresetJsonInputBox" placeholder="JSON" rows="12"></textarea>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" onclick="savePreset()">Create</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="loadPresetModal" tabindex="-1" aria-labelledby="loadPresetModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loadPresetModalLabel">Auto mode </h5>
                    <div class="dropdown mb-2">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="presetDropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Select Preset
                        </button>
                        <div class="dropdown-menu" id="presetDropdown" aria-labelledby="presetDropdownMenuButton"></div>
                    </div>
                    <div class="col-md-3 d-flex align-items-center">
                        <h6 class="mb-0">Preset:</h6>
                        <span id="currentPreset" class="badge bg-secondary ms-2">None</span>
                    </div>  
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="grid-stack grid-stack-sm" gs-w="3" gs-min-row="12"></div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" onclick="runPreset()">Start</button>
                    <button class="btn btn-secondary" onclick="stopPreset()">Stop</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Edit controller modal -->
    <div class="modal fade" id="editControllerModal" tabindex="-1" aria-labelledby="editControllerModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editControllerModalLabel">Update Controller</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="updateForm">
                        <div class="mb-3">
                            <label for="controllerSelect" class="form-label">Select Controller</label>
                            <select class="form-select" id="controllerSelect" required>
                                <!-- Options will be populated by JavaScript -->
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="controllerValue" class="form-label">Value</label>
                            <input type="text" class="form-control" id="controllerValue" required>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="updateController()">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <script src="./static/js/mqtt.js"></script>
    <script src="./static/js/configurations.js"></script>
    <script src="./static/js/mqttMessageManager.js"></script>
    <script src="./static/js/socketio.js"></script>
    <script src="./static/js/socketMessageManager.js"></script>
    <script src="./static/js/requests.js"></script>
    <script src="./static/js/ui.js"></script>
</body>
</html>
