<!DOCTYPE html>
<html lang="en">
    <script src="./static/node_modules/gridstack/dist/gridstack-all.js"></script>
    <link href="./static/node_modules/gridstack/dist/gridstack.min.css" rel="stylesheet"/>
<style type="text/css">
    .grid-stack { 
    background: #e9e9e9; 
    border: 3px solid #000;
    padding: 3px;
    border-radius: 10px; /* Rounded edges */

    }
    .grid-stack-item-content {
      border: 1px solid #ccc;
      padding: 10px;
    }

    .square-wrapper {
      width: 80px; /* Fixed width */
      height: 80px; /* Fixed height to create a square */
      display: flex;
      justify-content: center;
      align-items: center;
      border: 3px solid #000;
      background-color: aqua;
      padding: 3px;
      border-radius: 10px; /* Rounded edges */
    }
</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FanWall</title>
    <!-- Bootstrap CSS -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Paho JavaScript MQTT Library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.min.js"></script>
</head>
<body class="container mt-6">
    <h1 class="mb-4">FanWall</h1>
    <div class="row">
        <div class="col-md-4">
            <p>Status: <span id="status">-</span></p>
        </div>
        <div class="col-md-6">
            <button class="btn btn-primary mr-2" onclick="startProcedure()">Start Procedure</button>
            <button class="btn btn-primary" onclick="getAllControllers()">Get controllers</button>
        </div>
        <div class="col-md-2">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select Configuration
                </button>
                <div class="dropdown-menu" id="configDropdown" aria-labelledby="dropdownMenuButton">
            </div>

            </div >
        </div>
    </div>
    
    <div class="grid-stack" gs-w="3" gs-min-row="12"></div>
    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-primary  ml-auto"  onclick="exportGridAsMatrix()">Export Grid IDs</button>
        </div>
    </div>

    
    <script>
        
        var options = {
            cellHeight: 80,
            verticalMargin: 10,
            width: 12,
            minHeight: 4,
            float: true,

        };
        

        var grid = GridStack.init(options);
        var controllerIds = ["id1","id2","id3"];
        getConfigurations();


        var mqttClient = new Paho.MQTT.Client('broker.hivemq.com', 8000, '5a0d6a66b35b476a8653e7edb84528df');

        mqttClient.onConnectionLost = function (responseObject) {
            if (responseObject.errorCode !== 0) {
                console.log('Connection lost: ' + responseObject.errorMessage);
            }
        };

        mqttClient.onMessageArrived = function (message) {
            // Update status on message arrival
            document.getElementById('status').innerText = message.payloadString;
        };

        mqttClient.connect({
            onSuccess: function () {
                console.log('Connected to HiveMQ broker');
                mqttClient.subscribe('fanWall/wall/control');
                mqttClient.subscribe('fanWall/wall/status');
                mqttClient.subscribe('fanWall/wall/id');
            },
            onFailure: function (message) {
                console.log('Connection failed: ' + message.errorMessage);
            },
        });


        mqttClient.onMessageArrived = function (message) {
            // Update status on message arrival
            document.getElementById('status').innerText = message.payloadString;
            console.log(message.payloadString);
            if (message.destinationName === 'fanWall/wall/id' && message.payloadString !=='get') {
                console.log('Received ID: ' + message.payloadString);

                if (!controllerIds.includes(message.payloadString)){
                    controllerIds.push(message.payloadString);
                    console.log(controllerIds);
                    updateSliders();
                }

            }
        };
        updateSliders();
        function getValue(id) {
            console.log(id);
            // Get the slider element
            var slider = document.getElementById(id);
            // Get the value of the slider
            var value = slider.value;
            // Display the value
            //document.getElementById("sliderValue").innerHTML = "Slider Value: " + value;
            // Call a function or perform any action with the value here
            // For example, you can pass the value to another function
            console.log('Slider value: ' + value);
            //for (var i = 0; i < controllerIds.length; i++) {
            //    setSpeed(value,controllerIds[i]);
            //}
            setSpeed(value,id);
            
        }

        function setSpeed(speed,id) {
            var destinationTopic = 'fanWall/wall/'+id;
            console.log(destinationTopic)
            mqttClient.subscribe(destinationTopic);
            console.log('Setting speed to ' + speed);
            var message = new Paho.MQTT.Message(speed);
            message.destinationName = destinationTopic;
            mqttClient.send(message);
        }	

        function startProcedure() {
            var command = 'start';
            var message = new Paho.MQTT.Message(command);
            message.destinationName = 'fanWall/wall/control';
            mqttClient.send(message);
        }

        function cancelProcedure() {
            var random = Math.floor(Math.random() * 4000);
            var command = random.toString();
            console.log(command);
            var message = new Paho.MQTT.Message(command);
            message.destinationName = 'fanWall/wall/control';
            mqttClient.send(message);
        }

        function getAllControllers() {
            var message = new Paho.MQTT.Message('get');
            controllerIds = [];
            message.destinationName = 'fanWall/wall/id';
            mqttClient.send(message);
        }

        function updateSliders(){
            controllerIds.forEach(function(id){
                var slider = document.createElement("input");
                slider.type = "range";
                slider.min = "0";
                slider.max = "100";
                slider.value = "50";
                slider.id = id;
                slider.onmouseup = function() {
                    console.log(id);
                    getValue(id);
                };
                //document.getElementById("sliderContainer").appendChild(slider);
                var itemHtml = '<div class="square-wrapper"><label for="' + id + '">' + id + '</label><input type="range" min="0" max="100" value="50" class="slider" id="' + id + '"></div>';
                grid.addWidget(itemHtml, {w: 2, h: 2, noResize: true});
            });
        }
        $(document).on('mouseup', '.slider', function() {
            var id = $(this).attr('id');
            getValue(id);
        });

        window.exportGridAsMatrix = function() {
            var gridMatrix = [];
            var items = grid.engine.nodes;

            items.forEach(function(item) {
                var x = item.x;
                var y = item.y;
                var width = item.width;
                var height = item.height;
                var id = "1"
                var cell = { id: id, x: x, y: y, width: width, height: height };
                gridMatrix.push(cell);
            });

            console.log('Grid Matrix:', gridMatrix);
        };

        function getConfigurations() {
            fetch('/api/v1/fanWall/configurations')
                .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
                })
                .then(data => {
                    const dropdown = document.getElementById('configDropdown');
                    dropdown.innerHTML = ''; // Clear existing options

                    data.configurations.forEach(configId => {
                    const option = document.createElement('a');
                    option.classList.add('dropdown-item');
                    option.href = '#'; // Add link behavior if needed
                    option.textContent = `Configuration ${configId}`;
                    dropdown.appendChild(option);
                    });
                })
                .catch(error => {
                    console.error('There was a problem with the fetch operation:', error);
                });
        }
        

    </script>
</body>
</html>